<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt-VLY_XvP6mDjLyoSaryK52TayIsdnk4</string>
	<key>GCM_SENDER_ID</key>
	<string>972061656776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pariGsc</string>
	<key>PROJECT_ID</key>
	<string>pari-gsc</string>
	<key>STORAGE_BUCKET</key>
	<string>pari-gsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972061656776:ios:9346b6571f0ed7a4b5c7fd</string>
	<key>DATABASE_URL</key>
	<string>https://pari-gsc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>